.userInfo{
    background-color: var(--footer-bg);
    border-radius: 6px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo .info-container{
    max-width: 670px;
}

.userInfo .info-container .author{
    text-align: center;
    margin-bottom: 1rem;
}

.userInfo .info-container .author img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 6px;
}

.userInfo .info-container .author h2{
    
}

.userInfo .info-container p{
    text-align: center;
    padding: 0 1rem;
}