.Hero .data-box {
    max-width: 582px;
    position: absolute;
    bottom: -3rem;
    left: 6%;
    box-shadow: 0 4px 8px var(--shadow-color);
    border: 1px solid var(--border);
    padding: 40px;
    border-radius: 8px;
}

.blog-hero .data-box {
    background-color: transparent;
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    max-width: 582px;
}

.data-box {
    margin-top: 16px;
    background-color: var(--background);
}

.data-box h1 {
    font-size: 34px;
    color: var(--headlines);
    margin-top: 16px;
}

.data-box .h1-posts {
    font-size: 24px;
    font-weight: 500;
}

.data-box .pos-info {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1.4rem;
}

.post-container .data-box .pos-info {
    margin-top: 1.2rem;
}

.data-box .pos-info .author {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.data-box .pos-info .author img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

.data-box .pos-info .author span {
    font-size: 16px;
    color: var(--info);
}

.data-box .pos-info p {
    font-size: 16px;
    color: var(--info);
}

.blog-hero .data-box .pos-info .author span ,
.Hero .data-box .pos-info .author span {
    color: #fff;
}
.blog-hero .data-box .pos-info p ,
.Hero .data-box .pos-info p {
    color: #fff;
}


@media (max-width: 768px) {
    .Hero .data-box {
        bottom: -5rem;
        padding: 30px;
    }
}

@media (max-width: 425px) {
    .Hero .data-box {
        padding: 15px;
    }

    .data-box h1 {
        font-size: 26px;
        margin-top: 12px;
    }

    .blog-hero .data-box h1{
        font-size: 24px;
        margin-top: 10px;
    }

    .Hero .data-box .pos-info {
        margin-top: 14px;
    }
    
    .blog-hero .data-box .pos-info{
        margin-top: 10px;
    }

    .data-box .pos-info .author img {
        width: 24px;
        height: 24px;
    }
    
    .data-box .pos-info .author span {
        font-size: 14px;
    }
    
    .data-box .pos-info p {
        font-size: 14px;
    }

    .data-box .h1-posts {
        font-size: 20px;
    }

    .blog-hero .data-box {
        bottom: 14px;
        left: 10px;
    }
}

@media (max-width: 375px) {
    .Hero .data-box {
        bottom: -50%;
        border-radius: 6px;
    }

    .data-box h1 {
        font-size: 24px;
        margin-top: 10px;
    }
    
    .blog-hero .data-box h1{
        font-size: 22px;
        margin-top: 8px;
    }

    .Hero .data-box .pos-info {
        margin-top: 12px;
    }

    .blog-hero .data-box .pos-info{
        margin-top: 8px;
    }
}

@media (max-width: 320px) {
    .Hero .data-box {
        bottom: -70%;
    }

    .data-box h1 {
        font-size: 20px;
        margin-top: 10px;
    }

    .blog-hero .data-box h1{
        font-size: 18px;
        margin-top: 8px;
    }

    .Hero .data-box .pos-info {
        margin-top: 12px;
    }

    .blog-hero .data-box .pos-info {
        margin-top: 8px;
    }

    .data-box .pos-info .author img {
        width: 20px;
        height: 20px;
    }
}