main{
    flex: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container{
    padding: 1.5rem;
    border: 2px solid var(--border);
    border-radius: 12px;
}

.form-container .headline{
    margin-bottom: 2rem;
}

.form-container .headline h2{
    color: var(--headlines);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

form > div{
    margin-bottom: 1rem;
}

form input{
    font-size: 16px;
    padding: .4rem .6rem;
    border: 2px solid var(--border);
    border-radius: 4px;
}

form input ::placeholder{
    color: var(--info);
}