.error{
    font-size: 14px;
    color: red;
}

.write-content .buttons{
    margin-top: .5rem;
}

.dropzone-container {
    position: relative;
}

.dropzone-container .dropzone{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
}

.dropzone-container .dropzone p{
    color: #fff;
    font-weight: 500;
}