.post-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.post-box {
    border: 1px solid var(--border);
    padding: 1rem;
    border-radius: 8px;
}

.post-box .image {
    aspect-ratio: 4 / 3;
    overflow: hidden;
}

.post-box .image>img {
    object-fit: cover;
    height: 100%;
    border-radius: 6px;
}