.tags{
    display: flex;
    gap: 5px;
}

.tags > li .a{
    background-color: var(--primary);
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.categories-filter .tags > li .a,
.post-container .tags > li .a{
    color: var(--primary);
    background-color: var(--tags-bg);
}

.categories-filter .tags > li .a{
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 6px;
}


.categories-filter .active{
    background-color: var(--primary) !important;
    color: #fff !important;
}

.categories-filter .tags{
    
}