.tags{
    display: flex;
    gap: 5px;
}

.tags > li .a{
    background-color: var(--primary);
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.post-container .tags > li .a{
    color: var(--primary);
    background-color: var(--tags-bg);
}