.tags{
    display: flex;
    gap: 5px;
}

.tags > li a{
    background-color: var(--primary);
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
}