.Hero{
    padding-bottom: 4rem;
}

.Hero .hero-container{
    position: relative;
}

.Hero .data-box{
    background-color: var(--background);
    border-radius: 8px;
    padding: 1.5rem;
    width: 80%;
    position: absolute;
    bottom: -4rem;
    left: 8%;
    box-shadow: 0 4px 8px var(--shadow-color);
    border: 1px solid var(--border);
}

.Hero .data-box h1{
    font-size: 36px;
    color: var(--headlines);
    margin: .4rem 0;
}