.Hero{
    padding-bottom: 4rem;
}

.Hero .hero-container{
    position: relative;
}

.bg-img{
    border-radius: 6px;
}

.bg-img img{
    border-radius: 6px;
    filter: brightness(0.8);
}

@media (max-width: 320px) {
    .Hero{
        padding-bottom: 4.5rem;
    }

    .bg-img img{
        border-radius: 4px;
    }
}