.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter .form-container{
    min-width: 55%;
}

.newsletter .form-container form div{
    margin-bottom: .5rem;
}

.newsletter .form-container form p{
    text-align: start;
    font-size: 14px;
}