.interactions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem !important;
}

.interactions .di-like button:first-child{
    margin-right: 1rem;
}

.interactions button{
    font-size: 16px;
    vertical-align: middle;
    padding: 5px 15px;
    background-color: var(--footer-bg);
    border-radius: 6px;
    box-shadow: 0 4px 4px var(--shadow-color);
    transition: box-shadow linear 200ms;
}

.interactions button:hover{
    box-shadow: none;
}

.interactions button span{
    margin-right: 5px;
}

.interactions button svg{
    vertical-align: middle;
    color: var(--logo);
}