.interactions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem !important;
}

.interactions .di-like button:first-child {
    margin-right: 1rem;
}

.interactions .di-like>button,
.interactions .com>button {
    font-size: 16px;
    color: var(--footer-p);
    vertical-align: middle;
    padding: 5px 15px;
    background-color: var(--footer-bg);
    border-radius: 6px;
    box-shadow: 0 3px 2px var(--shadow-color);
    transition: box-shadow linear 200ms;
}

.interactions .di-like>button:hover,
.interactions .com>button:hover {
    box-shadow: none;
}

.interactions button span {
    margin-right: 8px;
    vertical-align: middle;
}

.interactions button svg {
    vertical-align: middle;
    color: var(--logo);
}

.interactions .com {
    display: flex;
    align-items: end;
}

.interactions .com .x {
    position: relative;
    margin-left: .5rem;
    height: 100%;
    color: var(--logo);
    font-size: 16px;
    padding: 4px;
    background-color: var(--footer-bg);
    border-radius: 3px;
    box-shadow: 0 3px 2px var(--shadow-color);
    transition: box-shadow linear 200ms;
    cursor: pointer;
}

.interactions .com .x svg {
    vertical-align: middle;
}

.interactions .com .x ul {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 6px;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0px 2px 5px var(--shadow-color);
    display: none;
    z-index: 5;
}
.interactions .com .x:hover ul {
    display: block;
}

.interactions .com .x ul li a ,
.interactions .com .x ul li button {
    font-size: 16px;
    padding: 5px 10px;
    display: flex;
    text-decoration: none;
    color: var(--nav);
}

.interactions .com .x ul li a svg ,
.interactions .com .x ul li button svg {
    margin-right: 6px;
}

.interactions .com .x ul li:hover a ,
.interactions .com .x ul li:hover button {
    background-color: var(--footer-bg);
}

.interactions .com .x ul li:not(:last-child){
    margin-bottom: 6px;
}