.post-layout > div {
    margin-top: 2rem;
}

.post-layout h2 {
    font-size: 24px;
    color: var(--headlines);
}

.post-layout .post-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.post-layout .post-container .post-box {
    border: 1px solid var(--border);
    padding: 1rem;
    border-radius: 8px;
}

.post-layout .post-container .post-box .image {
    aspect-ratio: 4 / 3;
    overflow: hidden;
}

.post-layout .post-container .post-box .image>img {
    object-fit: cover;
    height: 100%;
    border-radius: 6px;
}

.downBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.downBtn .btn{
    text-align: center;
    font-size: 16px;
    color: var(--btn);
    padding: 12px 20px;
    border: 1px solid var(--border);
    border-radius: 6px;
}