header{
    padding: 1rem 5rem;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .logo{
    flex-grow: 1;
}

.header-container .logo h1{
    font-size: 28px;
    font-weight: 400;
    color: var(--logo);
}

.header-container .logo h1 > span{
    font-weight: 700;
}

.header-container .container{
    flex-grow: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .container .nav{
    display: flex;
}

.header-container .container .nav li:not(:last-child){
    margin-right: 16px;
}

.header-container .container .nav a{
    color: var(--nav);
    font-size: 16px;
}

.header-container .container .icons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .container .icons-container > div{
    font-size: 24px;
    color: var(--logo);
}