header {
    padding: 1rem 12rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .logo {
    flex-grow: 1;
}

.header-container .logo h1 {
    font-size: 28px;
    font-weight: 400;
    color: var(--logo);
}

.header-container .logo h1>span {
    font-weight: 700;
}

.header-container .container {
    flex-grow: 1.5;
    display: flex;
    justify-content: space-between;
}

.header-container .container .nav {
    display: flex;
    align-items: center;
}

.header-container .container .nav li:not(:last-child) {
    margin-right: 16px;
}

.header-container .container .nav a {
    color: var(--nav);
    font-size: 16px;
}

.header-container .container .icons-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.header-container .container .icons-container>div:not(:last-child) {
    margin-right: 12px;
}

.header-container .container .icons-container>div {
    font-size: 24px;
    color: var(--logo);
    cursor: pointer;
}

.header-container .container .icons-container>.log-cont {
    position: relative;
}

.header-container .container .icons-container .log-cont ul {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 0px 2px 5px var(--shadow-color);
    display: none;
    z-index: 5;
}

.header-container .container .icons-container .log-cont:hover ul {
    display: block;
}

.header-container .container .icons-container .log-cont ul button,
.header-container .container .icons-container .log-cont ul a {
    font-size: 16px;
    padding: 5px 10px;
    display: flex;
    text-decoration: none;
    color: var(--nav);
    min-width: 120px;
}

.header-container .container .icons-container .log-cont ul li:not(:last-child),
.header-container .container .icons-container .log-cont ul li:not(:last-child){
    margin-bottom: 8px;
}

.header-container .container .icons-container .log-cont ul li:hover button,
.header-container .container .icons-container .log-cont ul li:hover a {
    background-color: var(--footer-bg);
}


.header-container .container .icons-container .log-cont ul li button > svg,
.header-container .container .icons-container .log-cont ul li a > svg{
    margin-right: 8px;
}


.header-container .container .icons-container .log-cont img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.menu-icon{
    display: none;
}






@media (max-width: 1100px) {
    .header-container .container .nav{
        display: none;
    }
    
    .header-container .container{
        flex: 0;
    }
}