.search {
    display: block;
}

.search svg{
    vertical-align: middle;
}

.search-form form{
    display: flex;
    align-items: stretch;
}

.search-form form input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.search-form form button{
    margin: 0;
    width: fit-content;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid var(--primary);
    box-shadow: none;
}

.search-result h2{
    margin-bottom: 1rem;
    color: var(--headlines);
    font-size: 24px;
}

.search-result h2 span{
    color: var(--footer-p);
}

