footer{
    padding: .8rem 5rem;
    background-color: var(--footer-bg);
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container .copywrite .txt h1{
    font-size: 20px;
    font-weight: 400;
    color: var(--logo);
}

.footer-container .copywrite .txt h1 > span{
    font-weight: 700;
}

.footer-container .copywrite .txt p{
    font-size: 12px;
    color: var(--footer-p);
}

.footer-container .copywrite .txt p a{
    color: var(--primary);
}

.footer-container .links a:hover,
.footer-container .copywrite .txt p a:hover{
    text-decoration: underline;
}

.footer-container .links{
    display: flex;
}

.footer-container .links li:not(:last-child){
    margin-right: 16px;
}

.footer-container .links a{
    color: var(--nav);
    font-size: 12px;
}