.comments .comments-container {
    background-color: var(--footer-bg);
    padding: 1rem;
    border-radius: 6px;
}

.comments .comments-container .head h3 {
    color: var(--headlines);
}

.comments-container .body .comment-box,
.comments-container .body .comment-edit-box {
    display: flex;
    gap: 1rem;
}

.comments-container .body .comment-edit-box {
    margin-bottom: 1.5rem;
}

.comments-container .body .user img {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    object-fit: cover;
}

.comments-container .body .comment-edit-box .cont {
    flex: 1;
}

.comments-container .body .comment-edit-box .cont textarea {
    width: 100%;
    color: var(--nav);
    background-color: var(--footer-bg);
    font-size: 14px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--border);
    padding-bottom: 2px;
    resize: none;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.2em;
    height: 1.2em;
}

.comments-container .body .comment-edit-box .cont .i-con{
    text-align: end;
}

.comments-container .body .comment-edit-box .cont .i-con button{
    color: 14px;
    padding: 4px 8px;
}

.comments-container .body .comment-edit-box .cont .i-con button:first-child{
    margin-right: .5rem;
    color: var(--info);
}

.comments-container .body .comment-edit-box .cont .active button:first-child{
    color: var(--headlines);
}

.comments-container .body .comment-edit-box .cont .i-con button:last-child{
    background-color: var(--border);
    color: var(--headlines);
    border-radius: 4px;
}

.comments-container .body .comment-edit-box .cont .active button:last-child{
    background-color: var(--primary);
    color: #fff;
}

.comments-container .body .comment-box:not(:last-child){
    margin-bottom: 1rem;
}

.comments-container .body .comment-box .cont span:first-child {
    color: var(--headlines);
    white-space: nowrap;
    font-size: 13px;
    font-weight: 500;
}

.comments-container .body .comment-box .cont .time {
    color: var(--nav);
    white-space: nowrap;
    font-size: 12px;
    font-weight: 300;
    margin-left: 4px;
}

.comments-container .body .comment-box .cont p {
    color: var(--footer-p);
    font-size: 14px;
    margin: 4px 0;
}

.comments-container .body .comment-box .cont .inter button {
    color: var(--footer-p);
    font-size: 14px;
}

.comments-container .body .comment-box .cont .inter button:not(:last-child) {
    margin-right: 8px;
}

.comments-container .body .comment-box .cont .inter button svg {
    vertical-align: middle;
}

.comments-container .body .comment-box .cont .inter button.interacted svg {
    color: var(--primary);
}

.comments-container .body > p {
    color: var(--headlines);
    font-size: 16px;
    text-align: center;
}
