.write-content > div:not(:last-child) {
    margin-bottom: 1.5rem;
}

.write-content h2{
    margin-bottom: .4rem;
    
}

.write-content .title input{
    border: none;
    outline: none;
}

.write-content > .quill {
    height: 70%;
}