.write-content > div:not(:last-child) {
    margin-bottom: 1.5rem;
}

.write-content h2{
    margin-bottom: .6rem;
    color: var(--headlines);
    font-size: 24px;
}

.write-content .title input{
    width: 100%;
    padding: 8px 4px;
    border: 1px solid var(--border);
    outline: none;
    font-size: 20px;
    color: var(--nav);
    background-color: var(--background);
}

.write-content .content > .quill > div {
    border: 1px solid var(--border);
}

.write-content .content > .quill > div:last-child {
    min-height: 8rem;
}

.write-content .tags {
    flex-direction: column;
}