.write-content>div:not(:last-child) {
    margin-bottom: 1.5rem;
}

.write-content h2 {
    margin-bottom: .6rem;
    color: var(--headlines);
    font-size: 24px;
}

.write-content .title input {
    width: 100%;
    padding: 8px 4px;
    border: 1px solid var(--border);
    outline: none;
    font-size: 20px;
    color: var(--nav);
    background-color: var(--background);
}

.write-content .content>.quill p {
    color: var(--nav);
    font-size: 16px;
}

.write-content .content>.quill>div {
    border: 1px solid var(--border);
}

.write-content .content>.quill>div:last-child {
    min-height: 8rem;
}

.write-content .tags {
    flex-direction: column;
}


.write-content .buttons button:first-child {
    font-size: 16px;
    color: #fff;
    background-color: var(--primary);
    border-radius: 4px;
    text-align: center;
    padding: .5rem 1.2rem;
    box-shadow: 0 2px 4px var(--shadow-color);
    transition: background linear 200ms, color linear 200ms;
    margin-right: 1rem;
}

.write-content .buttons button:first-child:hover {
    background-color: var(--tags-bg);
    color: var(--primary);
}

.write-content .buttons button:last-child{
    color: var(--footer-p);
}

.write-content .buttons button:last-child:hover{
    color: var(--headlines);
}