@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --background: #fff;
  --border: #E8E8EA;
  --primary: #4B6BFB;
  --logo: #141624;
  --headlines: #181A2A;
  --nav: #3B3C4A;
  --blog-info: #97989F;
  --footer-bg: #F6F6F7;
}

[data-theme="dark"] {
  --background: #181A2A;
  --border: #242535;
  --primary: #4B6BFB;
  --logo: #fff;
  --headlines: #fff;
  --nav: #fff;
  --blog-info: #97989F;
  --footer-bg: #141624;
}

body{
  background-color: var(--background);
  min-height: 100vh;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}