@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --background: #fff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border: #E8E8EA;
  --primary: rgba(75, 107, 251);
  --tags-bg: rgba(75, 107, 251, 5%);
  --logo: #141624;
  --headlines: #181A2A;
  --nav: #3B3C4A;
  --info: #97989F;
  --footer-bg: #F6F6F7;
  --footer-p: #3B3C4A;
  --btn: #696A75;
}

[data-theme="dark"] {
  --background: #181A2A;
  --shadow-color: rgba(255, 255, 255, 0.1);
  --border: #242535;
  --primary: rgb(75, 107, 251);
  --tags-bg: rgba(75, 107, 251, 5%);
  --logo: #fff;
  --headlines: #fff;
  --nav: #fff;
  --info: #97989F;
  --footer-bg: #141624;
  --footer-p: #BABABF;
  --btn: #696A75;
}

body {
  background-color: var(--background);
  min-height: 100vh;
  width: 100%;
  transition: background-color 0.25s ease-in-out;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}


main {
  padding: 1.5rem 12rem 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main section{
  margin-bottom: 3rem;
  width: 100%;
}


/* form */

.formSec{
  width: fit-content;
}

form>div {
  margin-bottom: 1rem;
  position: relative;
}

form>div>svg {
  color: var(--info);
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
}

form>.pass>svg {
  cursor: pointer;
}

form input {
  font-size: 16px;
  padding: .4rem .6rem;
  border: 2px solid var(--border);
  border-radius: 4px;
  background-color: var(--background);
  color: var(--headlines);
  width: 100%;
}

form input ::placeholder {
  color: var(--info);
}

form .error {
  font-size: 12px;
  text-align: center;
}

form button {
  font-size: 16px;
  color: #fff;
  background-color: var(--primary);
  border-radius: 4px;
  text-align: center;
  width: 100%;
  padding: .4rem .6rem;
  box-shadow: 0 2px 4px var(--shadow-color);
  margin: .5rem 0;
}